<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shneddy.dietdiary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".activity.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.EditorFoodType"
            android:parentActivityName=".activity.AllFoodTypes" />

        <activity android:name=".activity.EditorFood"
             android:parentActivityName=".activity.AllFoods"/>

        <activity android:name=".activity.AllFoods"
            android:parentActivityName=".activity.MainMenu"/>

        <activity android:name=".activity.AllEntries"
            android:parentActivityName=".activity.MainMenu"/>

        <activity android:name=".activity.AllFoodTypes"
            android:parentActivityName=".activity.MainMenu"/>

    </application>

</manifest>